.item {
  border: 1px solid gray;
  margin-bottom: 15px;
  height: 520px;
  border-radius: 5px;
  background-color: rgb(105, 105, 105);
  box-shadow: 2px 2px 2px black;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px black;
}

.info {
  margin: 10px;
}

.info h2 {
  margin-bottom: 5px;
}

.info p {
  margin-bottom: 20px;
}
