.form {
  margin: 10px auto 30px;
  display: flex;
  flex-direction: column;
}

form input {
  max-width: 300px;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: border-color 0.4s ease;
  border: 1px solid transparent;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.form input:focus {
  border-color: aqua;
}
