* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(27, 77, 27);
  color: #fff;
  padding: 20px;
  font-family: "Golos Text", sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  padding: 6px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #111;
  background-color: #fff;
  font-size: small;
  box-shadow: 2px 2px 2px black;
}
.btn:hover {
  background-color: #bcd1e6;
  box-shadow: 3px 3px 3px black;
}
.btn:active {
  background-color: #337cc5;
  transition: ease-in-out;
  box-shadow: 1px 1px 1px black;
}

.wrapper {
  width: 100%;
}
